{% extends "base.html.twig" %}

{% block body %}
    <div class="inWave">
        <!--vague du header, plusieurs vagues-->
        <img class="wave" src="{{asset('images/wave2.svg')}}" alt="">
    </div>
    <h3>Inscription</h3>
    <!--formulaire d'inscription à la condition d'avoir un matricule reconnu en BDD (à créer)-->
    <div class="divSecurity">
        {{ form_start(form) }}
        <div class="name">
            {{ form_row(form.username, {'label':'Votre identifiant :', 'attr':{'placeholder' : 'Votre identifiant'}}) }}
        </div>
        <div class="mail">
        {{ form_row(form.email, {'label':'Votre email :', 'attr':{'placeholder' : 'exemple@exemple.com'}}) }}
        </div>
        <div class="password">
            {{ form_row(form.password, {'label':'Votre mot de passe :', 'attr':{'placeholder' : 'Votre mot de passe'}}) }}
        </div>
        {{ form_rest(form) }}
            <button type="submit" class="btnLog btn btn-success">Valider</button>
    </div>    
    <!--vague du footer-->
    <div class="inWave">
        <img class="wave" src="{{asset('images/wave.svg')}}" alt="">
    </div>
{% endblock body %}